/*MEDIA QUERIES */


@media only screen and (max-width: 400px) {

    .article-section .article-content .blog-heading {
        width: 90%;
        font-size: 32px;

    }

    .article-section .article-content .blog-text {
        width: 75%;

    }

    .blog-posts {
        display: block;
    }


    .blog-item
    {
        margin-bottom: 20px;
    }

    .blog-article {
        display: block;
        padding: 0 10px;
    }

    .blog .sample-title h1 {
        font-size: 30px;
    }

    .blog-article .left-side .title-firehose h3 {
        font-size: 23px;
    }

    .right-side {
        gap: 30px;

    }

    .main-footer {
        margin: 15px 0 0 0;
    }

    .article-post {
        padding-left: 20px;

    }


    .header-section .first-navigation-bar .subscribe p ,
    .sign-up{
        display: none;
    }

 
    .header-section .first-navigation-bar {
        display: inline-block;
        padding: 10px 14px;

    }


    
.menu-toggle
{
    display: block;
    width: 40px;
    height: 40px;
    margin: 10px;
    background: #ccc;

}


.menu-toggle::before
{
    content: '\f0c9';
    font-family: fontAwesome;
    line-height: 40px;
    font-size: 30px;
    padding-left: 7px;
}

.menu-toggle.active::before
{
    content: '\f00d';
}


.navigation-bar{
    display: none;
}

.navigation-bar .active{
display: block;
width: 100%;
}



}

@media only screen and (max-width: 1240px) {


    .main-footer {
        margin: 15px 0 0 0;
    }

}


