/* DEFAULT STYLING */
*
{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
}



/* WRAPPER STYLING */
.wrapper-text
{
    max-width: 1200px;
    margin: auto;
}



/* HEADER STYLING */
.header-section .first-navigation-bar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
    padding: 10px 0;
}

.header-section .first-navigation-bar .subscribe p {
 font-size: 18px;
}

.menu-toggle
{
    display: none  ;
}


.header-section .first-navigation-bar .subscribe , .sign-up,
.second-navigation-bar .navigation-bar .navigation-list .navigation-item a,
.blog-date span
 {
    color: grey;
}


.header-section .first-navigation-bar .sign-up a{
    border: 1px solid grey;
    padding: 5px;
    text-transform: math-auto;
    color: grey;
    margin-left: 10px;
}

.horizontal-line
{
    border-top: 1px solid #80808047;
    margin-bottom: 10px;
}

.second-navigation-bar .navigation-bar .navigation-list .navigation-item
{
    display: inline-block;
    margin: 0 21px;
    text-transform: capitalize;
    font-size: 18px;
}



/* ARTICLE STYLING */
.article-post
{
    height: 290px;
    padding-left: 60px;
    padding-top: 30px;
    color: white;
    background-color: #000000d1;
    margin: 25px 0;
}
.article-section .article-content .blog-heading
{
    width: 30%;
    font-size: 45px;
}
.article-section .article-content .blog-text
{
    font-size: 17px;
    width: 36%;
    line-height: 23px;
    padding: 18px 0;
}
.article-section .article-content .sub-line
{
    font-size: 17px;
    cursor: pointer;
}




/* BLOG SECTION */
.blog-posts
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    margin-bottom: 20px;
}

.blog-item
{
    display: flex;
    align-items: center;
    border: 1px solid #80808047;
}

.blog-thumbnail
{
    background-color: #000000b0;
    width: 35%;
    height: 228px;
    text-align: center;
    color: white;
    text-transform: capitalize;
    padding-top: 6rem;
}

.blog-content
{
    width: 70%;
    height: 228px;
    padding: 16px;
}

.blog-content .span-text{
    font-weight: bold;
    text-transform: capitalize;
    padding-bottom: 6px;
    display: block;
}

.blog-content #span-txt-one,
.blog-content a
{
    color: blue;
}

.blog-content #span-txt-two
{
    color: green;
}

.blog-text p{
    line-height: 22px;
    width: 84%;
    margin-bottom: 16px;
    margin-top: 6px;
}



/* ARTICLE STYLING */
.blog
{
    margin-bottom: 30px;
}
.blog-article
{
    display: flex;
    gap: 30px;
    align-items: baseline;
}

.blog-article .left-side .title-firehose h3
{
    font-size: 30px;
    padding-bottom: 12px;
}
.blog .sample-title p
{
    color: grey;
}
.blog .sample-title h1
{
    font-size: 37px;
    padding-bottom: 4px;
}


.blog-article-content
{
    margin-top: 25px;
    font-size: 17px;
    color: #000;
}

.blog-article-paras p
{
padding: 12px 0;
}

.blog-article-paras span,
.blog .sample-title span,
.archives ul li a,
.social-links a,
.main-footer .footer-content span{
    color: blue;
}

.blog-article-paras #block-code
{
    letter-spacing: 1px;
    word-spacing: 3px;
}

.list-numeric
{
    list-style-type: decimal;
}
.blog-article-paras .list-type
{
    padding-left: 45px;
}
.buttons
{
    margin-top: 30px;
}

#older-button
{
    padding: 5px 14px;
    border-radius: 15px;
    color: blue;
    border: 1px solid blue;
    background-color: white;
    cursor: pointer;

}

#newer-button
{
    padding: 5px 14px;
    border-radius: 15px;
    color: grey;
    border: 1px solid grey;
    background-color: white;
    cursor: pointer;

}




/* ASIDE STYLING */


.right-side
{
    display: flex;
    flex-direction: column;
    gap: 65px;
    list-style-type: none;
}
.abt-us
{
    background-color: #80808014;
    padding: 18px;
}
.aside-section .abt-us p
{ 
    line-height: 22px;
    font-size: 17px;
    width: 76%;
}

.aside-section h2
{
    padding-bottom: 12px;
}

.aside-section .right-side .archives,
.aside-section .right-side .social-links

{
    padding-left: 18px;
}

.aside-section .right-side .archives ul li,
.aside-section .right-side .social-links ul li

{
    padding-bottom: 5px;
    list-style-type: none;
}



/*FOOTER STYLING */

.footer-content
{
    text-align: center;
    line-height: 30px;
    color: grey;
    margin: 10px 0;
}

.main-footer
{
    background-color: #80808017;
    padding: 16px;
    margin: 0 6rem;
}

